@keyframes full-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }
@keyframes opacity-0-100 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes move-right-left{
    0%{
        left: -20px;
    }
    50%{
        left: 0px;
    }
    100%{
        left: -20px;
    }
}
  