@keyframes full-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }
@keyframes plane-landing{
    0%{
        left: -300px;
        top: -200px;
    }
    60%{
        left: 100px;
        top: 50px;
        opacity: 1;
    }
    100%{
        top: 50px;
        left: 200px;
        opacity: 0;
    }
}
@keyframes fly-in{
    0%{
        left: -200px;

    }
    100%{
        left: 0px;
    }
}
@keyframes opacity-0-100 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes move-right-left{
    0%{
        left: -20px;
    }
    50%{
        left: 0px;
    }
    100%{
        left: -20px;
    }
}
@keyframes side-menu-move{
    0%{
        left: calc(100vw - 40px)
    }
    50%{
        left: calc(100vw - 20px);
    }
    100%{
        left: calc(100vw - 40px)
    }
}
  