@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import 'keyframes.css';


::-webkit-scrollbar {
    display: none;
}
.footer a{
    padding: 0 2vw 0 0;
}
.footer .socials img{
    margin-top: 8px;
    padding: 5px;
    background-color: #efefee;
    border-radius: 10px;
}
.footer .center{
    float: left;
    width: 100%;
   
    text-align: center;
}
.footer{
    border-top: 2px solid #8F8C36;
    overflow: hidden;
    width: 100vw;
    position: relative;
    margin-top: 96px;
    line-height: 48px;
    color: #efefee;
    min-height: 48px;
    background-color: #261E26;
}
.clickable{
    position: relative;
    left: -85px;
    transition: all 0.2s ease-in-out;
}
.clickable i{
    font-size: 20px;
    color: #F1BFF5;
}
.clickable:hover{
    left: 5px;
}
.clickable:active{
    left: 5px;
}
.footer .socials{
    height: 50px;
    float: right;

}
.footer .connect{
    height: 100%;
    padding-right: 24px;
    float: left;
}
.back-to-top{
    z-index: 4;
    position: absolute;
    bottom: 0px;

}
.back-to-top a{
    color: #efefee !important;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.right-nav .links{
    
    font-weight: 600;
    display: inline-block;
    font-size: 1.1em;
}
.links{
    height: 100%;
    padding-right: 16px;
}
.links a{
    transition: all 0.2s ease-out;
    height: 54px;
    float: left;
    font-size: 1.1em;
    padding: 16px;
}
.links a:hover{

    height: 72px;
}
.home-link{
    border-bottom: 3px solid #BA36C2;
}
.about-link{
    border-bottom: 3px solid #F2BFF5
}
.projects-link{
    border-bottom: 3px solid #5A368F;
}
.portfolio-link{
    border-bottom: 3px solid #9C9462;
}
.contact-link{
    border-bottom: 3px solid #C2A136;
}
.underline-selector{
    position: relative;
    opacity: 0;
    top: 50px;
    width: 45px;
    margin-left: 0px;
    height: 2px;
    background-color: #5A368F;
    transition: margin-left 0.3s ease-out;
}
.el1{
    background-color:#0378A6;
    height: 100%;
}
.el2{
    background-color: #03A678;
    height: 100%;
}
.el3{
    background-color:#D9CB04;
    height: 100%;
}
.el4{
    background-color: #BF2604;
    height: 100%;
}
.content-row{
    position: relative;
    top: 40px;
}
.bg-white{
    background-color: #efefee;
}
.bg-purple{
    background-color: #59368F;

}
.bg-pink{
    background-color: #B936C2;
    
}
.bg-lighter-pink{
    background-color: #F1BFF5;
    
}
.bg-yellow{
    background-color: #C2A136;
    
}
.main-content{

    padding: 16px;
    font-weight: 600;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}
#landing-plane-img{
    top: -200px;
    left: -300px;
    animation: plane-landing 3s linear;
    position: absolute;
    display: inline-block;
}
.portret{

    height: 256px;
    width: 256px;
    margin: auto;
    margin-right: auto;
    text-align: center;
}
.fade-in{
    opacity: 0;
    animation: opacity-0-100 0.2s linear 2.5s;
    animation-fill-mode: forwards;
}
.left-align{
    text-align: left !important;
}
.fly-in-first{
    position: relative;
    font-size: 2.4em;
    left: -100px;
    animation: fly-in 0.3s ease-out 2.8s;
    animation-fill-mode: forwards;
}
.main-fade-in{
    opacity: 0;
    animation: opacity-0-100 0.2s linear;
    animation-fill-mode: forwards;
    text-align: center;
}
.main-content h2{
    font-weight: 200;
    color: #111111;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 3.5em;
    text-align: left;
    font-family: 'Dancing Script', cursive;
}
.infinity-logo{
    color: #5A368F;
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;

}
.right-nav{
    height: 100%;
    float: right;

}
.title-sub{
    opacity: 0;
    position: relative;

    left: 8px;
    top: -8px;
    transition: opacity 0.5s linear;
}
.capital-1{
    color: #5A368F;
    font-weight: 900;
    font-size: 1.4em;
}
.capital-2{
    color: #9C83C1;
    font-weight: 900;
}
.capital-3{
    color: #5E3996;
    font-weight: 900;
}
.capital-4{
    color: #7245B5;
    font-weight: 900;
}
.capital-5{
    color: #1B0042;
    font-weight: 900;
}

.title{
    height: 100%;
    position: relative;
    width: auto;
    padding-left: 8px;
    

}
.title h3:hover .infinity-logo{

    animation: full-rotation 0.5s linear;

}
.title h3:hover ~ .title-sub{
    opacity: 1;

}
.pointer{
    position: relative;
    top: -10px;
    left: -20px;
    animation: move-right-left 1s ease-in-out 3;
}
.title h3{
    font-weight: 200;
    display:inline;
    position: relative;
    font-size: 1.9em;
    font-family: 'Contrail One', cursive;
    

}
.header{
    position: fixed;
    width: 100%;
    animation: opacity-0-100 0.5s ease-in-out;
    z-index: 2;
    background: #FFF;
    height: 72px;
    border-bottom: 0px solid #B5B145;
    
}
.box{
    padding: 20px;
    width: 100%;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
}
.edges{
    border-radius: 5px;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
   
    background-image: linear-gradient(-30deg,#5A368F , #00002B);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Background pattern thanks to https://leaverou.github.io/css3patterns/ */
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#5A368F 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),#5A368F;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    font-family: 'Quicksand', sans-serif;

}
.cursor-pointer{
    cursor: pointer;
}
.content-block{
    padding: 8px;
}
.content-block-2{
    padding: 16px;
    background-color: #C2A136;
}
.add-info-clickable{
    width: auto;
    color:#48DB6A;
    border-bottom: 3px solid #F2BFF5;
    display: inline-block;
}
.add-info-clickable:hover .add-info{

}
#popup-info{
    transition: all 0.4s ease-out;
    position: fixed;
    opacity: 0;
    color: #efefee;
    left: 8px;
    top: 80px;
    border-radius: 5px;
    margin: 0px auto 0px auto;
    background-color: rgba(41, 21, 56, 0.9);
    width: 304px;
    min-height: 144px;
    z-index: 5;
}
#modal-link{
    padding: 8px;
}
#modal-link a{
    padding: 8px;
    color: #48DB6A;

}
#popup-info .modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #efefee;
}
#popup-info #modal-content{
    padding: 8px;
}
#popup-info #modal-title{
    font-size: 1.1em;
    padding: 8px;
}
.content-wrapper{
    position: relative;
    top: 72px;
    max-width: 1200px;
    min-height: calc(100vh - 72px);
    opacity: 0;
    margin: 0px auto 0px auto;
    padding-left: 8px;
    animation: opacity-0-100 0.5s ease-in-out 0.5s;
    padding-right: 8px;;
    animation-fill-mode: forwards;
}
.content-wrapper p{
    margin-top: 16px;
}
.small-nav{
    display: none;
}
.small-nav-content{
    transition: all 0.5s ease-out;
}
@media(max-width: 960px){
    .links a{
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media(min-width: 2200px){
   .content-wrapper{
    font-size: 1.8em;
   }
}
@media(max-width: 760px) {
    /* mobile */
    .box{
        width: 75%;
        margin: 0px auto 0px auto;
    }
    .main-content{
        padding: 8px;
    }
    .small-nav{
        display: block;
        position: fixed;
        z-index: 3;
    }
    .title h3{
        font-weight: 200;
        display:inline;
        position: relative;
        font-size: 1.7em;
        font-family: 'Contrail One', cursive;
    
    }
    .small-nav i{
        z-index: inherit;
        transition: 0.4s left ease-out 0.1s, 0.2s transform ease-out 0.6s;
        position: fixed;
        top: 20px;
        left: calc(100vw - 35px);
        font-size: 25px;
        color: #8F8C36;
        cursor: pointer;
        display: inline-block;

    }
    .small-nav-content{
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #efefee;
        left: 100vw;
    }
    .small-links{
        margin: 55px 10px 0px;
    }
    .small-links a{
        font-size: 1.4em;
        padding: 20px;
        font-weight: 900;
        display: block;
    }
    .title{
        margin: 0px;
    }
    .title-sub{
        margin: 0;
    }
    .right-nav{
        display: none;
        overflow: hidden;
        float:none;
        text-align: center;
    }
    .links{
        text-align: left;
        display: inline-block;
    }

}