<div id="grid" class="test-grid-container">
  <div (click)="projectSwitcher($event)" class="test-grid-box">
    <h1></h1>
  </div>
  <div class="test-grid-box">
    <div class="project">
      <h1>
        Hello
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugiat eum, totam, provident, excepturi error beatae dolores facere ipsum dignissimos dolorum! Aut aspernatur ab vero saepe reprehenderit accusamus iste esse?
      </p>
      
    </div>
    <div class="project-arrow" (click)="projectSwitcher($event);">
      >
    </div>
  </div>
  <div class="test-grid-box">
    <div class="project">
      <h1>
        Hello
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugiat eum, totam, provident, excepturi error beatae dolores facere ipsum dignissimos dolorum! Aut aspernatur ab vero saepe reprehenderit accusamus iste esse?
      </p>
      
    </div>
    <div class="project-arrow" (click)="projectSwitcher($event);">
      >
    </div>
  </div>
  <div (click)="projectSwitcher($event)" class="test-grid-box">
    test
  </div>
  <div (click)="projectSwitcher($event)" class="test-grid-box">
    test
  </div>
  <div (click)="projectSwitcher($event)" class="test-grid-box">
    test
  </div>



</div>
