<div class="projects-container">
  <div class="projects">
    <div class="projects-item">
      <div class="project-content">
            <h1>
                BestellenBIM
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione culpa vel nobis at minima vitae explicabo vero delectus tempore deleniti, temporibus id fugiat unde, magnam atque modi recusandae itaque pariatur?
            </p>
      </div>
    </div>
    <div class="projects-item">
      Project 2
    </div>
    <div class="projects-item">
      Project 3
    </div>
    <div class="projects-item">
      Project 4
    </div>
    <div class="projects-item">
      Project 5
    </div>
    <div class="projects-item">
      Project 6
    </div>
  </div>
</div>
