<div class="projectV2wrapper">
    <h1><i class="fas fa-angle-double-right"></i>Projects</h1>
    <div class="projectV2sidenav">
        <ul class="side-nav-main">
            <h5>Personal<i class="fas fa-angle-down"></i></h5>
            <li>Foo</li>
            <li>Bar</li>
            <li>Foo</li>
            <li>Bar</li>
            <li>Foo</li>
            <li>Bar</li>
        </ul>
        <ul class="side-nav-main">
            <h5>Dura Vermeer<i class="fas fa-angle-down"></i></h5>
            <li>Foo</li>
            <li>Bar</li>
            <li>Foo</li>
            <li>Bar</li>
            <li>Foo</li>
            <li>Bar</li>
        </ul>
        <ul class="side-nav-main">
            <h5>Stage Competenties<i class="fas fa-angle-down"></i></h5>
            <li>Foo</li>
            <li>Bar</li>
            <li>Foo</li>
            <li>Bar</li>
            <li>Foo</li>
            <li>Bar</li>
        </ul>
    </div>
    <div class="projectV2projects">

    </div>
</div>